<div class="section">
    <div *ngIf="actorsDB.length>0">
        <div class="form-group">
          <label for="fullName">Actor Name</label>
          <input type="text" class="form-control" id="fullName" [(ngModel)]="fullName">
        </div>

        <div class="form-group">
          <label for="title">Movie Title</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="title">
        </div>

        <br>
        <button type="submit" class="btn btn-primary" (click)="onAddActor()">Add Actor</button>

      </div>


      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Birth Year</th>
          <th>Select!</th>
        </tr>
        <tr *ngFor="let item of actorsDB">
          <td>{{item.name}}</td>
          <td>{{item.bYear}}</td>
          <td><button type="submit" style="background-color: blue;" class="btn btn-primary" (click)="onSelectUpdate(item)">Select</button></td>
        </tr>
      </table>

      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th> 
            <th>Year</th>
            <th>Select!</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectMovie(item)">Select</button></td>
          </tr>
        </tbody>
      </table>
    
  </div>
  